@import url(http://fonts.googleapis.com/css?family=Arimo|Fjalla+One);

*, *::before, *::after {
  box-sizing: border-box;
}

p {
  text-align: justify;
}

.spoiler {
  position: relative;
  /*color: transparent;*/
  text-shadow: 0 0 20px #55657a;
  cursor: help;
  background-color: #F44336;
  /*padding: 5px;*/
  /*border-radius: 7px;*/
  color: white;
  font-size: 12px;
  font-family: sans-serif;
}

.spoiler::before, .spoiler::after {
  display: block;
  position: absolute;
  line-height: 1;
  font-family: 'Fjalla One', sans-serif;
  color: #872e27;
  text-align: center;
  text-shadow: none;
}

.spoiler::before {
  align-content: center;
  font-size: 16px;
  color: red;
  /*content: 'WARNING: POTENTIALLY HARASSING MESSAGE';*/
}

.spoiler::after {
  opacity: 0;
  top: 84px;
  left: calc(50% - 36px);
  width: 60px;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  clip: rect(0, 72px, 72px, 0);
  content: '3 2 1';
}

.spoiler:hover {
  color: #55657a;
  text-shadow: 0 0 0 transparent;
  transition: all 1s;
  transition-delay: 4s;
}

.spoiler:hover::before {
  animation: countdown-before 5s forwards;
}

.spoiler:hover::after {
  animation: countdown-after 5s forwards;
}